media/.config/mpd/pid
media/.config/mpd/state
zsh/.config/zsh/.zcompdump
terminals/.config/tmux/.tmux/resurrect/save
terminals/.config/tmux/.tmux/resurrect/restore
terminals/.config/tmux/.tmux/resurrect/pane_contents.tar.gz
common/.config/cgdb/logs
terminals/.config/tmux/plugins
common/.config/lazygit/state.yml
common/.config/btop/btop.log
