* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 25px;
}

window {
  /* background-color: rgba(18, 18, 18, 1.0); */
  background-color: #000000;
  border: 3px solid rgba(128, 128, 128, 0.25);
  border-radius: 12px;
}

#entry {
  color: #808080;
  padding: 16px;
}
#text:selected {
  color: white;
}

#entry:selected {
  /* color: #f5f5f5; */
  /* color: #ffffff; */
  padding-left: 24px;
}

#input {
  padding: 12px;
  margin: 6px;
}

image {
  color: #505050;
  /* color: #ffffff; */
  padding-left: 0px;
  padding-right: 0px;
}
 #input > image.left {
        -gtk-icon-transform:scaleX(0);
    }
